.statisticsBox {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: fit-content;
  position: relative;

  padding: 2.4rem;
  background-color: white;
  border-radius: 0.3rem;
}

.statisticsBox:first-of-type {
  margin-top: 7rem;
}

.statisticsBox > div {
  position: absolute;
  top: -3rem;
}

.statisticsBox h1 {
  font-size: 2.6rem;
  margin-bottom: 0rem;
}
