.header_container {
  /* border: 1px solid red; */
  padding: 2.4rem 1.6rem 1rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  position: relative;
  min-height: 3.7rem;
}

.header_container button {
  border: none;
  background-color: white;
  cursor: pointer;
}

#burgerMenu_icon {
  width: 3rem;
  height: 3.5rem;
}

@media only screen and (min-width: 1440px) {
  .header_container img {
    margin-right: 4rem;
  }
  .header_container {
    justify-content: flex-start;
    padding: 2.4rem 11rem 1rem 11rem;
  }
}
