.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar span {
  margin-right: 3rem;
  color: var(--neutral-gray-violet);
  cursor: pointer;
}

.navBar button {
  width: 15rem;
}

.navBar span:hover {
  color: var(--neutral-dark-violet);
}
