:root {
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-violet: hsl(257, 27%, 26%);

  --secondary-red: hsl(0, 87%, 67%);

  --neutral-gray: hsl(0, 0%, 75%);
  --neutral-gray-violet: hsl(257, 7%, 63%);
  --neutral-dark-blue: hsl(255, 11%, 22%);
  --neutral-dark-violet: hsl(260, 8%, 14%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  text-align: center;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.App,
body,
#root {
  min-width: 37.5rem;
}

p,
span {
  font-size: 1.8rem;
}

span {
  color: hsl(260, 8%, 14%);
  font-weight: 700;
}

p {
  color: hsl(0, 0%, 75%);
  font-weight: 500;
}
